<br /><br />
<div id="blog-wrap">
    <h3>To help us direct you better, please tell us...
        Are you a(n)</h3>
    <div class="half">
        <a href="http://cpaprivatepractice.ca/blog/clinician-articles/">
            <div class="blog-square">
                <h2>Clinician</h2>
            </div>
        </a>

    </div>
    <div class="half">
        <a href="http://cpaprivatepractice.ca/blog/owner-articles/">
            <div class="blog-square">
                <h2>Aspiring / Clinic Owner</h2>
            </div>
        </a>
    </div>

    <div id='studentBlog' class="half">
        <a href="http://cpaprivatepractice.ca/blog/student-articles/">
            <div class="blog-square">
                <h2>Students</h2>
            </div>
        </a>
    </div>
</div>